.Todo {
    background-color: rgb(252, 119, 96);
    color: white;
    display: flex;
    align-items: center;
    width: 300px;
    margin: 2px;
    height: 40px;
    padding: 2px 10px;

}

.Todo-label {
    padding: 0 50px;
    width: 250px;
}

.fa-solid {
    margin: 2px;
    padding: 0 2px;
    font-size: 1.25rem;
    
}

.Todo-editButton {
    background-color: tomato;
    border: 1px solid white;
    color: white;
    padding: 5px;
}